body,
html {
  height: 100%;
}
.home {
  background-image: url("https://scontent-yyz1-1.xx.fbcdn.net/v/t1.15752-9/s2048x2048/72775753_2357492494513633_745225904447291392_n.webp?_nc_cat=103&_nc_oc=AQmICVIw2vdYIrDnfKWCkTgqmM_XLHdkkRP1MICEPNqqzlXJOQp-xb5mo7sWVvgO7U5CPj4h_f2T3au9Gq9BjjDr&_nc_ht=scontent-yyz1-1.xx&oh=10165cfbe39ddd9d8abf2cb20b638d57&oe=5E5E57AA");
  height: 140vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (max-width: 900px) {
  .home {
    // background: linear-gradient(270deg, #020a35, #293030, #000000);
    background-image: url("https://scontent-yyz1-1.xx.fbcdn.net/v/t1.15752-9/s2048x2048/72775753_2357492494513633_745225904447291392_n.webp?_nc_cat=103&_nc_oc=AQmICVIw2vdYIrDnfKWCkTgqmM_XLHdkkRP1MICEPNqqzlXJOQp-xb5mo7sWVvgO7U5CPj4h_f2T3au9Gq9BjjDr&_nc_ht=scontent-yyz1-1.xx&oh=10165cfbe39ddd9d8abf2cb20b638d57&oe=5E5E57AA");
    //background-size: 600% 600%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    //-webkit-animation: land 30s ease infinite;
    //-moz-animation: land 30s ease infinite;
    //animation: land 30s ease infinite;

    text-align: center;
    position: fixed;
    // top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
  }

  @-webkit-keyframes land {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @-moz-keyframes land {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes land {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

.typeWriter {
  font-size: 40px;
  color: white;
  margin-top: 470px;
}
